//* ========================================================================
//   #WP MIXINS (taken from _s theme)
//   ======================================================================== */

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin v-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

// input color and :focus used instead of this.
@mixin placeholder {
    &::-webkit-input-placeholder { @content; }
    &:-moz-placeholder { @content; } // FF 18-
    &::-moz-placeholder { @content; } // FF 19+
    &:-ms-input-placeholder { @content; }
}
