.facebook-bg {
    background-color: #3b5998;
}

.twitter-bg {
    background-color: #56a3d9;
}

.googleplus-bg {
    background-color: #ffa500;
}

.pinterest-bg {
    background-color: #cb211d;
}

.linkedin-bg {
    background-color: #1077a9;
}

.reddit-bg {
    background-color: #eb4924;
}

.tumblr-bg {
    background-color: #2c4762;
}

.vk-bg {
    background-color: #4c75a3;
}

.email-bg {
    background-color: #1d936b;
}

.tbss-dark {
    background-color: #212121 !important;
    color: #fff !important;
}

.tbss-light {
    background-color: #8e8e8e !important;
    color: #F1F1F1 !important;
}

.tbss-round {
    border-radius: 50%;
}
