.tb-social-share {
    list-style: none;
    margin: 0 0 1.5em !important;
    padding: 0 !important;

    li {
        display: inline-block;
    }

    a {
        color: #fff !important;

        &.tbss-circle {
            border-radius: 50%;
        }

        &.tbss-rounded {
            border-radius: 8px;
        }

        &:hover,
        &:visited {
            color: #fff !important;
        }

    }

}

.tb-social-share a[href^="mailto:"]::before {
    content: '';
}

.screen-reader-text {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
}
