.tb-social-share--fullwidth {

    @include min-screen(540px) {
        width: 100%;
        display: table;
        table-layout: fixed;

        li {
            display: table-cell;
        }

    }

    @include max-screen(539px) {

        li {
            display: inline-block;
            width: 25%;
        }

    }

    a {
        font-size: 24px;
        line-height: 54px;
        display: block;
        text-align: center;
        color: #fff;

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            color: #fff;
        }

    }

}

