.tb-social-share--icon-text,
.tb-social-share--icon-mix {

    &:after {
        content: '';
        clear: both;
        display: table;
    }

    > span {
        display: inline-block;
    }

    a {
        font-size: 22px;
        display: block;
        text-align: center;
        line-height: 44px;
        height: 44px;
        color: #fff;
        margin: 0 4px 4px 0;
        padding: 0 12px;

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            color: #fff;
        }

    }

    .icon-text {
        font-size: 16px;
        float: right;
        padding: 0 4px;
    }

}

.tb-social-share--icon-text {

    a {
        min-width: 44px;
    }

}

.tb-social-share--icon-mix {

    a {
        min-width: 44px;
    }

}

