.tb-social-share--icon {

    &:after {
        content: '';
        clear: both;
        display: table;
    }

    li {
        display: inline-block;
        float: left;
    }

    a {
        font-size: 22px;
        width: 44px;
        height: 44px;
        display: block;
        text-align: center;
        line-height: 44px;
        color: #fff;
        margin: 0 4px 4px 0;

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            color: #fff;
        }

    }

}

