.tb-social-share {
  list-style: none;
  margin: 0 0 1.5em !important;
  padding: 0 !important;
}

.tb-social-share li {
  display: inline-block;
}

.tb-social-share a {
  color: #fff !important;
}

.tb-social-share a.tbss-circle {
  border-radius: 50%;
}

.tb-social-share a.tbss-rounded {
  border-radius: 8px;
}

.tb-social-share a:hover,
.tb-social-share a:visited {
  color: #fff !important;
}

.tb-social-share a[href^="mailto:"]::before {
  content: '';
}

.screen-reader-text {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.facebook-bg {
  background-color: #3b5998;
}

.twitter-bg {
  background-color: #56a3d9;
}

.googleplus-bg {
  background-color: #ffa500;
}

.pinterest-bg {
  background-color: #cb211d;
}

.linkedin-bg {
  background-color: #1077a9;
}

.reddit-bg {
  background-color: #eb4924;
}

.tumblr-bg {
  background-color: #2c4762;
}

.vk-bg {
  background-color: #4c75a3;
}

.email-bg {
  background-color: #1d936b;
}

.tbss-dark {
  background-color: #212121 !important;
  color: #fff !important;
}

.tbss-light {
  background-color: #8e8e8e !important;
  color: #F1F1F1 !important;
}

.tbss-round {
  border-radius: 50%;
}

.tb-social-share--fullwidth a {
  font-size: 24px;
  line-height: 54px;
  display: block;
  text-align: center;
  color: #fff;
}

.tb-social-share--fullwidth a:hover,
.tb-social-share--fullwidth a:active,
.tb-social-share--fullwidth a:focus {
  text-decoration: none;
  color: #fff;
}

.tb-social-share--icon:after {
  content: '';
  clear: both;
  display: table;
}

.tb-social-share--icon li {
  display: inline-block;
  float: left;
}

.tb-social-share--icon a {
  font-size: 22px;
  width: 44px;
  height: 44px;
  display: block;
  text-align: center;
  line-height: 44px;
  color: #fff;
  margin: 0 4px 4px 0;
}

.tb-social-share--icon a:hover,
.tb-social-share--icon a:active,
.tb-social-share--icon a:focus {
  text-decoration: none;
  color: #fff;
}

.tb-social-share--icon-text:after,
.tb-social-share--icon-mix:after {
  content: '';
  clear: both;
  display: table;
}

.tb-social-share--icon-text > span,
.tb-social-share--icon-mix > span {
  display: inline-block;
}

.tb-social-share--icon-text a,
.tb-social-share--icon-mix a {
  font-size: 22px;
  display: block;
  text-align: center;
  line-height: 44px;
  height: 44px;
  color: #fff;
  margin: 0 4px 4px 0;
  padding: 0 12px;
}

.tb-social-share--icon-text a:hover,
.tb-social-share--icon-text a:active,
.tb-social-share--icon-text a:focus,
.tb-social-share--icon-mix a:hover,
.tb-social-share--icon-mix a:active,
.tb-social-share--icon-mix a:focus {
  text-decoration: none;
  color: #fff;
}

.tb-social-share--icon-text .icon-text,
.tb-social-share--icon-mix .icon-text {
  font-size: 16px;
  float: right;
  padding: 0 4px;
}

.tb-social-share--icon-text a {
  min-width: 44px;
}

.tb-social-share--icon-mix a {
  min-width: 44px;
}

@media only screen and (min-width: 540px) {
  .tb-social-share--fullwidth {
    width: 100%;
    display: table;
    table-layout: fixed;
  }

  .tb-social-share--fullwidth li {
    display: table-cell;
  }
}

@media only screen and (max-width: 539px) {
  .tb-social-share--fullwidth li {
    display: inline-block;
    width: 25%;
  }
}